<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<table class='sortable-table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Organizer email</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Audio file location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.title %></td>
        <td><%= meeting.organizer_email %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td><%= meeting.audio_file %></td>
        <td>
          <%= link_to 'Show', meeting %>
          <%= link_to 'Edit', edit_meeting_path(meeting) %>
          <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_meeting_path %>
