<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Organizer email:</strong>
  <%= @meeting.organizer_email %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<p>
  <strong>Audio file:</strong>
  <%= @meeting.audio_file %>
</p>

<% if @meeting.highlights.any? %>
  <h4>Highlights</h4>

  <table class='sortable-table'>
    <thead>
      <tr>
        <th>Start time</th>
        <th>End time</th>
        <th>Highligh text</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @meeting.highlights.each do |highlight| %>
        <tr>
          <td><%= highlight.start_time %></td>
          <td><%= highlight.end_time %></td>
          <td><%= highlight.highligh_text %></td>
          <td>
            <%= link_to 'Show', highlight %>
            <%= link_to 'Edit', edit_highlight_path(highlight) %>
            <%= link_to 'Destroy', highlight, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'New Highlight', new_highlight_path(meeting_id: @meeting.id) %>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
