<%= form_with(model: highlight, local: true) do |form| %>
  <% if highlight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(highlight.errors.count, "error") %> prohibited this highlight from being saved:</h2>

      <ul>
      <% highlight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meeting_id %>
    <%= form.select :meeting_id, Meeting.all.collect {|p| [ p.title, p.id ] }, {include_blank: false, selected: @selected_meeting_id, required: 'required'} %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :highlight_start_time, required: 'required' %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :highlight_end_time, required: 'required' %>
  </div>

  <div class="field">
    <%= form.label :highligh_text %>
    <%= form.text_area :highligh_text, id: :highlight_highligh_text, required: 'required' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
