<p id="notice"><%= notice %></p>

<h1>Highlights</h1>

<table class='sortable-table'>
  <thead>
    <tr>
      <th>Meeting</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Highligh text</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @highlights.each do |highlight| %>
      <tr>
        <td><%= link_to highlight.meeting.title, meeting_path(highlight.meeting) %></td>
        <td><%= highlight.start_time %></td>
        <td><%= highlight.end_time %></td>
        <td><%= highlight.highligh_text %></td>
        <td>
          <%= link_to 'Show', highlight %>
          <%= link_to 'Edit', edit_highlight_path(highlight) %>
          <%= link_to 'Destroy', highlight, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Highlight', new_highlight_path %>
