<h1>New Highlight</h1>

<%= render 'form', highlight: @highlight %>


<% if @meeting.present? %>
  <%= link_to 'Back', meeting_path(@meeting) %>
<% else %>
  <%= link_to 'Back', highlights_path %>
<% end %>