<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= link_to @highlight.meeting.title, meeting_path(@highlight.meeting.id) %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @highlight.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @highlight.end_time %>
</p>

<p>
  <strong>Highligh text:</strong>
  <%= @highlight.highligh_text %>
</p>

<%= link_to 'Edit', edit_highlight_path(@highlight) %> |
<%= link_to 'Back', meeting_path(@highlight.meeting) %>
